@font-face {
    font-family: Yekan;
    src: url('./font/Yekan.ttf');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Yekan;
}
.sticky-header{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
.ms-n5 {
    margin-left: -40px;
}

.top-bar-size{
    height: 3rem;
}
.top-bar-left a{
    text-decoration: none;
    color: black;
    font-size: 14px;
}
.top-bar-right , .top-bar-center{
    font-size:16px;
}
.top-bar-center{
    font-weight: bold;
}
.top-bar-left a:first-child::after,
.top-bar-left a:nth-child(2)::after
{
    content: " ";
    width:1px;
    height: 16px;
    border-right: 1px solid #eee;
}
.top-bar-left a:hover{
    color: red;
}
.header-top{
    box-shadow: 0px 0px 6px 2px #b4b4b4;


}
.header-sz{
    height:5rem;
}
.header-right .header-menu{
    font-size:30px;
}
.header-bottom-fix{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 2.5rem;
    box-shadow: 0px 0px 6px 2px #b4b4b4;

}
.header-desktop{
    border-top: 1px solid whitesmoke;
    padding: .5rem;
    height: 7rem;
    
}
.search-box{
    width:30rem !important;
}
.search{
    border-radius: 0px 25px 25px 0px !important;
    height: 2.5rem;
}
.search-button{
    border-radius: 25px 0px 0px 25px !important;
    height: 2.5rem;
    background-color: red !important;
    color: white !important;
}
.search-button:hover{
    color: red !important;
    background-color: #000 !important;
}
.form-control:focus {
    outline: none!important;
    box-shadow: none !important;
    border-color: rgb(231, 231, 231) !important;
}
.nav-bar div{
    background-color: #000;
    color: white ;
    height: 3rem;
}
.nav-menu{
    margin: 0px;
}
.nav-bar .nav-menu ul{
    list-style: none;
    color: black;
}
.nav-bar .nav-menu li{
    display: inline-block;

}
.nav-bar .nav-menu li a{
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    font-size: 18px;
}
.header-center , .header-right, .header-categories , .header-left, .tell-number{
    display: flex;
    justify-content: center;
    align-items: center;
}
.tell-number p {
    margin: 0;
    font-size: 14px;
    color: #b4b4b4;
}
.tell-number p span{
    color: red;
    text-align: left;
    direction: ltr !important;
}
.header-categories{
    background-color: red !important;
    width: 85%;
    margin-right: 2rem;
}
.header-categories p{
    margin: 0;
    margin-left: 5rem;
    margin-right: 1rem;
    font-size: 18px;
}

